@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

.bg-blue {
  background-color: #007EA7;
}

nav div {
  padding-left: 3px;
  padding-right: 3px;
}

.rotate-up {
  transition: all 0.5s ease-in;
  transform: rotate(-180deg);
}

.rotate-down {
  transition: all 0.5s ease-in;
  transform: rotate(0deg);
}